.submenu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 10;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	-webkit-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	background-color: #f4f4f4;
	
}

.sub_item {
	position: relative;
	display: inline-block;
}

.sub_item:hover .submenu {
	-webkit-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
}

.submenu_item {
	display: block !important;
}



.yep_bg {
	position: absolute;
	top: 35%;
	left: 4%;
	z-index: -1; 
}

.menu_yep, .menu_ntf {
	margin-left: 0 !important;
}

.menu_block {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.nav {
	text-align: center;
}

.main-menu {
	margin-top: 20px;
	display: inline-block;
	width: 100%;
}
.menu_item {
	margin: 0 0 0 4%;
}
.menu_block a {
	color: black;
	font-size: 13px;
	font-weight: bold;
	font-family: 'Montserrat', Tahoma;
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	outline: none;
	text-align: center;
	border: 0;
}

.menu_item:hover, .submenu_item:hover {
	background: #f18415;
	color: white;
}
.content {
	width: 50%;
	margin: 100px auto;
}

.content h2 {
	color: black;
	font-family: 'Montserrat', Tahoma;
}

.txta {
  width: 100%;
  min-height: 45px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  overflow: hidden;
  line-height: 1.4;
  resize: none;
}

.btn-create {
	width: 30%;
	margin: 70px auto 0;
	border-radius: 20px;
	background-color:#f18415;
	font-weight: bold;
	color: white;
	border: 2px #f18415 solid;
}
.btn-create:hover {
	background-color: white;
	color: #f18415;
}

/*--------------------*/
* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */
.container 		{ 
  width:600px; 
  margin:30px auto 0; 
  display:block; 
  padding:10px 50px 50px;
}
h2 		 { 
  text-align:center; 
  margin-bottom:50px; 
}
h2 small { 
  font-weight:normal; 
  color:#888; 
  display:block; 
}

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input, textarea 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
  background: none;
}
input:focus, textarea:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color: #424242; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label, textarea:focus ~ label, textarea:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#1B1464; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after, textarea:focus ~ .bar:after, textarea:focus ~ .bar:before {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight, textarea:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#1B1464; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#1B1464; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#1B1464; }
  to 	{ width:0; background:transparent; }
}


/* upload startup image*/
.file-upload {
	width: 100%;
	margin: 0 auto 20px;
	padding: 20px 0;
}

.file-upload-btn{
	width: 100%;
	padding: 15px;
	text-transform: uppercase;
	color: white;
	background-color:  #f18415;
	border: 2px solid  #f18415;
	cursor: pointer;
}
	
.file-upload-btn:hover {
	color: #f18415;
	background-color:  white;
}
	
.file-upload-input{
	display: none;
}

.image-upload-wrap {
	margin-top: 20px;
}
.image-title-wrap {
	width: 50%; /* = .content width*/
	margin: auto;
	position:absolute;
	left: 0;
	right: 0;
	padding: 15px;
	background-image: url(../photo/dark_bg.png);
	color: #ffffff; 
}

.file-upload-image{
	display: block;
	width: 100%;
}

.remove-image {
	float: right;
	background-color: transparent;
	border: 2px solid #ffffff;
	color: #ffffff;
	font-weight: 600;
	cursor: pointer;
}
